.lazy-component-enter {
  opacity: 0;
}

.lazy-component-enter-to {
   opacity: 1;
}

.lazy-component-enter-active {
  transition: opacity 0.3s 0.2s;
  position: absolute;
  top: 0;
  width: 100%;
}

.lazy-component-leave {
  opacity: 1;
}

.lazy-component-leave-to {
  opacity: 0;
}

.lazy-component-leave-active {
  transition: opacity 0.5s;
}
